
body{
	margin:0;
}



.item1{grid-area:header;
background-image:url('photo-1.avif');
 
}
.item1 h3{
	font-family:verdana;
	color:white;
}
.m{
	grid-area:m;
    background-color:white;
}
.m ul{
	list-style-type:none;
}
.m ul li{
	margin:0;
	display:inline-block;
	padding:10px;
	
}
.m ul li a{
	color:brown;
	text-decoration:none;
	font-family:'century gothic';
}
.m ul li:hover{
	background-color:brown;
	height:40px;
	width:90px;
	margin:0px;
}
.m ul li a:hover{
	color:white;
	font-weight:bold;
	margin:0px;	
}
.item2{
	grid-area:menu;
    background-color:black;
}
.item2 ul{
	list-style-type:none;
}
.item2 ul li{
	display:block;
	position:relative;
	padding:20px;
}
.item2 ul li a{
	text-decoration:none;
	color:white;
	font-family:'century gothic';
	
}
.item2 ul li a:hover{
	color:brown;
}
.item2 ul li  img{
	height:40px;
	width:60px;
	border-radius:50px;	
}
.item3{
	grid-area:main;
background-color:lightblue;
height:5000px;
border-top:1px solid black;

}

.item3 img{
	height:500px;
	width:500px;
	display:inline-block;
	border-radius:100px;
	}
	.li1,li2,li3,li4,li5,li6,li7 {
		border-top:1px solid black;
		height:500px;
	width:500px;
		}
		
		
	.item3 {
	display:flex;
}


.item3 p{
	font-size:20px;
	font-family:'century gothic';
	color:red;
	font-weight:bold;
	text-transform:capitalize;
	color:yellow;
}
h1{
	color:yellow;
}





.item5{grid-area:footer;
background-color:darkblue;


}
.item5  h4, p{
	display:inline-block;
	padding-left:20px;
	color:white;
}
.grid-cantainer{
	display:grid;
	grid-template-areas:
	'header header header header header header'
	'm m m m m m'
	'menu main main main main main'
	'menu footer footer footer footer footer';
	
	
}
.grid-cantainer > div{
	
	text-align:center;
	padding:0px ;
	
	

	
}
a:link{
	color:yellow;
}
a:hover{
color:lightgreen;
	
} 
a:active{
color:hotpink;	
}
a:visited{
	color:cyan
}